.project-header {
  text-align: center;
}
.project-tile {
  margin: 20px;
  display: grid;
  row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.box-grid {
  text-align: start;
  border-radius: 10px;
  padding: 20px;
  margin: 2rem;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 0.9em;
  /* height: 220px; */
  background-color: rgba(184, 178, 178, 0.11);
}

.box-grid h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: rgb(0, 110, 255);
  background-image: linear-gradient(45deg, #dd5d07, #ee0cee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.box-grid h3 {
margin:5px 0;
font-weight: 400;
}

.gitLogo {
  align-items: flex-end;
  display: flex;
  height: 100%;
  padding-top: 5px;
  width: 100%;
}

.box-grid p {
  margin: 0;
  line-height: 1.5rem;
  padding: 5px 0;
  font-weight: 300;
  color: rgb(6, 170, 182);
}
@media only screen and (max-width: 1035px) {
  .box-grid h2 {
    font-size: 1rem;
  }
  .box-grid {
    /* max-width: 350px; */
    height: 200px;
  }
}

@media only screen and (max-width: 1020px) {
  /* .box-grid h2 {
    font-size: 0.9rem;
  }
  .box-grid p {
    font-size: 13px;
  }
  .box-grid {
 
    height: 180px;
  } */

  .project-tile {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  /* .box-grid h2 {
    font-size: 0.9rem;
  }
  .box-grid p {
    font-size: 13px;
  }
  .box-grid {
 
    height: 180px;
  } */
  .box-grid {
    max-width: 100%;
  }

  .project-tile {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
