hr {
  border-style: none;
  margin: 30px auto;
  border-bottom-style: dotted;
  width: 10%;
  border-width: 8px;
  color: #ffffff41;
}

.middle-image-right {
  margin-top: -30px;
  max-width: 480px;
}

.heading-cont {
  text-align: start;
  padding-left: 80px;
  /* margin-right: 69px; */
}

.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 0.9fr 0.9fr;
}

.home-span {
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 15px #ff2002, 0 0 20px #7204cc, 0 0 15px #03b603;
}

.heading-cont h4 {
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
}
.heading-cont h1 {
  margin: 0;
  /* uncomment this to get text color animtion */
  /* color: transparent;    */
  font-size: 3rem;
  /* animation: effect 2s linear infinite; */
  background-color: red;
  background-image: linear-gradient(45deg, #ce5707, #b446af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /* text-shadow: 0 0 15px #d11b03, 0 0 20px #7204cc, 0 0 15px #000407; */
}

/* .grid-item{
  background-image: url("/src/assets/air.png");
  width: 80%;
} */

.top-container {
  /* display: inline-block; */
  padding-top: 80px;
  /* background-color: #ff7b54; */
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 995px) {
  .middle-image-right {
    margin-top: -30px;
    max-width: 400px;
  }
  .grid-container {
    margin-top: 30px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1.5fr 0.9fr;
  }
}

@media only screen and (max-width: 925px) {
  .middle-image-right {
    margin-top: -30px;
    max-width: 300px;
  }
  .grid-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1.5fr 0.9fr;
  }

  .heading-cont h4 {
    font-weight: 100;
    line-height: 2;
  }
  .heading-cont h1 {
    margin: 0;
    /* color: transparent;   uncomment this to get text color animtion */
    font-size: 2rem;
    animation: effect 2s linear infinite;
  }
}

@media only screen and (max-width: 825px) {
  .grid-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .heading-cont {
    text-align: start;
    padding: 0 50px;

    /* margin-right: 69px; */
  }

  .middle-image-right {
    margin-top: 30px;
    max-width: 320px;
  }
}

@media only screen and (max-width: 600px) {
  /* .skills {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
  } */

  .heading-cont h4 {
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 2;
  }
}

@media only screen and (max-width: 480px) {
  /* .skills {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
  } */

  /* .heading-cont h4 {
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.2;
  } */

  .heading-cont h1 {
    margin: 0;
    /* color: transparent;   uncomment this to get text color animtion */
    font-size: 1.5rem;
    animation: effect 2s linear infinite;
  }
}






/* CSS button */

.heading-cont a{
  text-decoration: none;
}


.resume {
  width: 145px;
  height: 45px;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resume:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.resume:active {
  transform: scale(0.95);
}