
@use postcss-preset-env {
  stage: 0;
}

:root {
  --color-background: #000;
  --stroke-width: calc(1em / 16);
  --font-size: 4vmin;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}




.logo h1 {
  background-clip: text;
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
/*   color: var(--color-background); */
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
}



.container {
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 100%;
}
.showback {
  width: 0;
  height: 0;
  visibility: hidden;
}

.navbar {
  width: 100%;
  top: 0;
  z-index: 5;
  height: 60px;
  background-color: hsl(0deg 0% 0% / 95%);
  position: fixed;
  top: 0;
  right: 0;
  /* margin: 5px 2%; */
}

.logo {
  margin: auto 0;
}

.menu-icon {
  display: none;
}

.nav-elements {
  margin: auto 0;
}

.nav-elements ul {
  font-weight: 900;
    background-color: red;
    background-image: linear-gradient(45deg, #ac099e, #0ceeee);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
  cursor: pointer;
}




@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .showback{
    visibility: visible;
    position: absolute;
    right: 0;
    margin-top:30px;
    margin-right: 50px;
    font-size: 2rem;
  }
  .menu-icon {
    font-size: 2rem;
    margin: auto 10px;
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
    height: 100vh;
    background-color: #000;
    position: fixed;
    backdrop-filter: blur(6rem);
    top: 0;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    text-align: initial;
    margin-top: 80px;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}